.jumbotron {
	margin-bottom: 0;
}
.navbar {
	border-radius: 0;
}
.header {
	background-image: url(../images/header-background.jpg);
	background-size: 100% 100%;
}
.header .profile-photo {
	  width: 150px;
	  height: 150px;
	  border-radius: 70px;
	  display: inline-block;
}
.header .name{
	color: white;
	display: inline-block;
}
.header .profile {
	padding-bottom: 45px;
}